<a href="https://colab.research.google.com/github/arpitasinghsengar1402/MAJOR-PROJECT-Credit-Card-Fraud-Detection-/blob/main/CREDIT_CARD_FRAUD_DETECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#load the dataset to a pandas dataframe
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [ ]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269,0.173609,5.49,0.0
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453,-0.107284,10.00,0.0
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350,-0.017047,89.99,0.0
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970,-0.183521,0.99,0.0
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47628 entries, 0 to 47627
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    47628 non-null  int64
 1   V1      47628 non-null  float64
 2   V2      47628 non-null  float64
 3   V3      47628 non-null  float64
 4   V4      47628 non-null  float64
 5   V5      47628 non-null  float64
 6   V6      47628 non-null  float64
 7   V7      47628 non-null  float64
 8   V8      47628 non-null  float64
 9   V9      47628 non-null  float64
 10  V10     47628 non-null  float64
 11  V11     47628 non-null  float64
 12  V12     47628 non-null  float64
 13  V13     47628 non-null  float64
 14  V14     47628 non-null  float64
 15  V15     47628 non-null  float64
 16  V16     47628 non-null  float64
 17  V17     47627 non-null  float64
 18  V18     47627 non-null  float64
 19  V19     47627 non-null  float64
 20  V20     47627 non-null  float64
 21  V21     47627 non-null  float64
 22  V22     47627 non-null  float64
 23  V23     47627 non-null  float64
 24  V24     47627 non-null  float64
 25  V25     47627 non-null  float64
 26  V26     47627 non-null  float64
 27  V27     47627 non-null  float64
 28  V28     47627 non-null  float64
 29  Amount  47627 non-null  float64
 30  Class   47627 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 11.3 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
#disrtibution of legit transaction and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    47481
1.0      146
Name: Class, dtype: int64

THIS DATASET IS HIGHLY UNBALANCED




0-> NORMAL TRANSACTION


1-> FRAUDULENT TRANSACTION

In [ ]:
#separating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(47481, 31)
(146, 31)

In [ ]:
#STATISTICAL MEASURES OF THE DATA
legit.Amount.describe()

count    47481.000000
mean        91.749512
std        249.864438
min          0.000000
25%          7.600000
50%         24.990000
75%         83.000000
max      12910.930000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     146.000000
mean      100.769589
std       234.865142
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#COMPARE THE VALUES FOR BOTH TRANSACTIONS
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,28187.518523,-0.217647,0.004622,0.729134,0.173144,-0.232960,0.109679,-0.095198,0.041927,0.152781,...,0.046262,-0.029852,-0.106718,-0.038640,0.008178,0.135952,0.022116,0.003026,0.003920,91.749512
1.0,26650.410959,-7.748350,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

Warning: Total number of columns (30) exceeds max_columns (20) limiting to first (20) columns.

UNDER SAMPLING

Build a sample dataset containing similar distribution of normal transactions and fraudulent transactions

Number of fraudulent transactions -> 146

In [ ]:
legit_sample=legit.sample(n=146)

 Concatenating two DataFrames

In [ ]:
new_dataset=pd.concat([legit_sample, fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23779,32911,1.231090,0.228608,0.167419,0.508999,-0.224671,-0.575241,-0.073692,0.009131,-0.084231,...,-0.265360,-0.845485,0.082799,-0.064117,0.202646,0.100033,-0.033038,0.016022,4.49,0.0
4666,4076,-0.335852,1.016415,1.170434,0.692041,0.771792,0.252453,0.490050,0.063424,0.555489,...,-0.061264,0.001492,-0.387667,-0.915787,0.152540,-0.251040,0.085734,0.093347,5.34,0.0
3023,2575,-0.921748,0.759682,1.680499,0.663080,0.578198,0.224586,0.546186,-1.097454,-0.258527,...,0.776101,0.197069,0.165295,-0.030326,-0.360863,-0.464458,-0.352342,-0.290545,2.50,0.0
2604,2131,0.981404,-1.977181,0.032294,-1.286933,-1.619918,-0.338635,-0.706265,-0.193254,-1.694943,...,-0.243812,-1.034640,-0.187226,-0.502536,0.127909,-0.389264,-0.015651,0.073195,313.24,0.0
6016,6755,0.266218,-1.301655,0.743463,2.708772,-0.746034,1.307631,-0.409332,0.262201,1.173063,...,0.317331,0.017358,-0.588218,-1.022683,0.162926,0.090472,-0.081523,0.091747,474.85,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
45203,42247,-2.524012,2.098152,-4.946075,6.456588,3.173921,-3.058806,-0.184710,-0.390420,-3.649812,...,0.027935,0.220366,0.976348,-0.290539,1.161002,0.663954,0.456023,-0.405682,1.00,1.0
45732,42474,-3.843009,3.375110,-5.492893,6.136378,2.797195,-2.646162,-1.668931,-2.617552,-3.945843,...,-1.277812,0.719652,0.451125,-0.258094,0.656129,0.556676,0.739383,-0.203050,1.00,1.0
46909,42985,-4.075975,0.963031,-5.076070,4.955963,-0.161437,-2.832663,-7.619765,1.618895,-2.992092,...,1.030738,0.165328,-1.017502,-0.477983,-0.304987,-0.106089,1.899714,0.511462,1.00,1.0
46918,42988,-4.423508,1.648048,-6.934388,4.894601,-5.078131,0.010849,-3.409096,1.409291,-3.260672,...,0.698359,0.487478,1.228698,-0.535217,0.388278,-0.009466,2.300164,0.081231,648.00,1.0
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    146
1.0    146
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,26292.904110,-0.53903,0.094353,0.365589,0.139314,-0.476550,0.134145,-0.126329,0.149566,0.252522,...,0.044198,0.061462,-0.082477,-0.020803,0.004546,0.110256,-0.007608,0.003313,-0.001506,119.711164
1.0,26650.410959,-7.74835,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

Splitting the data into Features AND Targets

In [ ]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
23779  32911  1.231090  0.228608  0.167419  0.508999 -0.224671 -0.575241
4666    4076 -0.335852  1.016415  1.170434  0.692041  0.771792  0.252453
3023    2575 -0.921748  0.759682  1.680499  0.663080  0.578198  0.224586
2604    2131  0.981404 -1.977181  0.032294 -1.286933 -1.619918 -0.338635
6016    6755  0.266218 -1.301655  0.743463  2.708772 -0.746034  1.307631
...      ...       ...       ...       ...       ...       ...       ...
45203  42247 -2.524012  2.098152 -4.946075  6.456588  3.173921 -3.058806
45732  42474 -3.843009  3.375110 -5.492893  6.136378  2.797195 -2.646162
46909  42985 -4.075975  0.963031 -5.076070  4.955963 -0.161437 -2.832663
46918  42988 -4.423508  1.648048 -6.934388  4.894601 -5.078131  0.010849
46998  43028 -1.109646  0.811069 -1.138135  0.935265 -2.330248 -0.116106

             V7        V8        V9  ...       V20       V21       V22  \
23779 -0.073692  0.009131 -0.084231  ... -0.104295 -0.265360 -0.845485
4666   0.490050  0.063424  0.555489  ... -0.047496 -0.061264  0.001492
3023   0.546186 -1.097454 -0.258527  ... -0.239989  0.776101  0.197069
2604  -0.706265 -0.193254 -1.694943  ...  0.304601 -0.243812 -1.034640
6016  -0.409332  0.262201  1.173063  ...  0.771383  0.317331  0.017358
...         ...       ...       ...  ...       ...       ...       ...
45203 -0.184710 -0.390420 -3.649812  ... -0.162797  0.027935  0.220366
45732 -1.668931 -2.617552 -3.945843  ...  0.054796 -1.277812  0.719652
46909 -7.619765  1.618895 -2.992092  ...  0.058861  1.030738  0.165328
46918 -3.409096  1.409291 -3.260672  ... -0.562264  0.698359  0.487478
46998 -1.621986  0.458028 -0.912189  ...  0.168891  0.641594  0.841755

            V23       V24       V25       V26       V27       V28  Amount
23779  0.082799 -0.064117  0.202646  0.100033 -0.033038  0.016022    4.49
4666  -0.387667 -0.915787  0.152540 -0.251040  0.085734  0.093347    5.34
3023   0.165295 -0.030326 -0.360863 -0.464458 -0.352342 -0.290545    2.50
2604  -0.187226 -0.502536  0.127909 -0.389264 -0.015651  0.073195  313.24
6016  -0.588218 -1.022683  0.162926  0.090472 -0.081523  0.091747  474.85
...         ...       ...       ...       ...       ...       ...     ...
45203  0.976348 -0.290539  1.161002  0.663954  0.456023 -0.405682    1.00
45732  0.451125 -0.258094  0.656129  0.556676  0.739383 -0.203050    1.00
46909 -1.017502 -0.477983 -0.304987 -0.106089  1.899714  0.511462    1.00
46918  1.228698 -0.535217  0.388278 -0.009466  2.300164  0.081231  648.00
46998  0.176728  0.081004 -0.258899  0.707654  0.418649  0.080756  204.27

[292 rows x 30 columns]

In [ ]:
print(Y)

23779    0.0
4666     0.0
3023     0.0
2604     0.0
6016     0.0
        ...
45203    1.0
45732    1.0
46909    1.0
46918    1.0
46998    1.0
Name: Class, Length: 292, dtype: float64

Split the data into Training data and Testing data

In [ ]:
X_train , X_test , Y_train , Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(292, 30) (233, 30) (59, 30)

Model training

Logistic Regression

In [ ]:
model=LogisticRegression()

In [ ]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
#accuracy on training data
X_train_prediction= model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.9570815450643777

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data: ', test_data_accuracy)

Accuracy score on Test Data:  0.9322033898305084